p {
    line-height: 1.1em;
}

.devider {
  width:300px;
  height:1px;
  margin:12px auto;
  padding:0px;
  background-color:#D5D5D5;
  overflow:hidden;
  opacity:0.6;
}

.devider--secondary {
  width:150px;
  height:1px;
  margin:12px auto;
  padding:0px;
  background-color:#D5D5D5;
  overflow:hidden;
  opacity:0.6;
}
